<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>QTI Item i137538436122595</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/tao/taoQTI/views/js/QTI/css/qti.min.css" media="screen" />

	<!-- user CSS -->

	<!-- LIB -->
	<script type="text/javascript" src="http://localhost:8888/tao/tao/views/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="http://localhost:8888/tao/tao/views/js/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript" src="http://localhost:8888/tao/tao/views/js/json.min.js"></script>


	<script type="text/javascript">
		var qti_base_www = "http://localhost:8888/tao/taoQTI/views/js/QTI/";
		var root_url = "http://localhost:8888/tao/";
			</script>

	<!-- JS REQUIRED -->
	<script type="text/javascript" src="http://localhost:8888/tao/taoItems/views/js/taoApi/taoApi.min.js"></script>
	<script type="text/javascript" src="http://localhost:8888/tao//wfEngine/views/js/wfApi/wfApi.min.js"></script>
	<script type="text/javascript" src="http://localhost:8888/tao/taoItems/views/js/taoMatching/taoMatching.min.js"></script>
	<script type="text/javascript" src="http://localhost:8888/tao/taoQTI/views/js/QTI/qti.min.js"></script>
</head>
<body>
	<div id='i137538436122595' class="qti_item">
		<h1>Item1</h1>
		<div class="qti_item_body">
			<div>&#160;<div id="interaction_1" class="qti_widget qti_choice_interaction ">

	    	<p class="prompt">question 11</p>
    
	<ul class='qti_choice_list'><li id="a" class="">eleven</li><li id="b" class="">asra 1</li><li id="c" class="">10 + 1</li><li id="d" class="">all</li></ul></div>
<script type="text/javascript">
	qti_initParam["interaction_51fabb83d6c94758822428"] = {"shuffle":"false","maxChoices":"1","responseIdentifier":"RESPONSE"};
	qti_initParam["interaction_51fabb83d6c94758822428"]['id'] = "interaction_1";
	qti_initParam["interaction_51fabb83d6c94758822428"]['type'] = "qti_choice_interaction";
			</script>
 &#160;</div>

			<!-- validation button -->
			<div class="qti_control">
							<a href="#" id="qti_validate">Validate</a>
						</div>
		</div>
	</div>
</body>
</html>
